body{
    

    height:100vh;
    width:100vw;
    background-color: #edf1fd;
    font-family: 'Poppins', sans-serif;
    display:flex ;
    flex-direction: column;
    justify-content: space-between;
  


}
* {
    padding:0 ;
    margin:0 ;
    overflow:hidden;
    box-sizing: border-box;
   


}
li{
    list-style: none;
    cursor: pointer;
}
a{
    text-decoration: none;
}
button{
    background-color: rgb(18,155,155);
    padding:4px 10px ;
    cursor: pointer;
    color:white ;
    border :1px solid white ;
    border-radius: 5px;
    font-weight: 500px;
    width:fit-content ;
}
button:hover{
    background-color: white;
    color:black ;
    border:1px solid red ;


}
nav{

    display:flex ;
    width:100% ;
    align-items: center;
    justify-content: space-between;
}
nav.logo{
    font-size:30px ;
    font-weight: 700;
}
nav ul{

    display:flex ;
    align-items:center ;
    gap: 30px;
    font-weight: 500;
}
nav ul li:hover{
    font-weight: 900;
    
    text-decoration: underline;
}
Search-bar{

    display:flex ;
    gap :35px ;
}
input{
    padding:4px 10px ;
}
.Main-section{

    display: flex;
    align-items: center;

}
.Main-left-side h1{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 500;

}
.Main-left-side h1 span{
    color: rgb(18,155 ,155);
    font-weight: 500px;
    font-size: 2.5rem;
}
.Main-left-side p{
    font-weight: 400;
}
.Main-left-side p span {
    color:rgb(18,155 ,155);
    font-weight: 700;
    font-size :25px ;
}
.Main-right-side{
    display :flex ;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
}
.Main-right-side button{
    display : flex ;
    align-items: center;
    gap:30px ;
}
.Main-right-side img{
    height:300px;
    width:300px ;
    border-radius: 50%;
    align-items: center;
}
footer{

display:flex ;
align-items: center;
padding:10px 0 ;
justify-content: space-around;

}
footer p {

    font-weight: 300;
   align-items: center;

}
footer ul {
    display: flex;
    gap :30px ;
    align-items: center;
   
}
footer ul li {
    font-size: x-large;
    font-weight: 800;
   align-items: end;
}
footer ul li a i :hover{
    background-color: black;
    color:white ;
    font-size: 300;
}